<%- include('bootheader') -%>
<%- include('menubar') -%>

    <div class="jumbotron">
        <h1>Miranda S</h1>
        <p>A Brief Bio</p>
    </div>





<div class="row">

  <div class="col bg-warning text-danger">
    <p>
      I am a rising senior at Brandeis University majoring in Sociology and minoring in Computer Science and Social
      Justice/Social Policy (SJSP). In my free time you can find me riding my bike, taking photographs with my many half
      broken cameras, constructing zines, or laughing about memes. I'm new to computer science, but I see the future of
      tech as something that needs to be self sustaining and localized. We can't let companies like Amazon and Facebook dictate
      what we consume, whether that be products, media, or political beliefs. I want to make the internet a more equitable space,
      and say no to big data, government surveillance, and social media as a tool of the establishment. You can catch me in 20 years writing a
      book about this.
    </p>
    <p>
      For a little more backround: I was born in Brooklyn but raised in the Adirondak North Country of Upstate NY (north of Albany but
      not quite Canada). I currently reside in Waltham, MA-my favorite grocery store
      is India Mart and I can't wait to swim at Connor's pool this summer.
    </p>

    <div class="bg-danger text-white">

    </div>

    <h2>
      Websites You Should Check Out
    </h2>
    <ul>
      <li> <a href="http://www.chess.com">Chess.com</a></li>
      <li> <a href="https://algorat.club/">Rat Bachelor</a></li>
    </ul>
  </div>

  <div class="col">
    <img src="images/randa.jpg"
     width="100%" alt="photo of randa">
  </div>

</div>


 <!--
  also add a list and some links
  to your bio,
  and maybe a table ...
-->

<%- include('bootfooter') -%>
