<%- include('bootheader') -%>

<%- include('menubar') -%>

    <div class="jumbotron">
        <h1>Art Fun (Tangentially Related to Barter)</h1>
    </div>
<form method="post" action="/artFun">
    What art would you like to see?
    <input type="text" name="art"><br>
    <input type="submit">
</form>


<%- include('bootfooter') -%>
