<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <h1>Welcome to Barter</h1>
        <p>Waltham and Metro Boston's website for trade. Have  a lot of stuff?
           Want to trade and not make waste? This is your community's tool for
         more sustainable living! Explore the items your neighbors are getting rid of without being behholden
       to companies taking and selling your data like Facebook, Ebay, and Amazon. Barter challenges
        all that big tech does.</p>
    </div>



<%- include('bootfooter') -%>
