<%- include('bootheader') -%>
<link rel='stylesheet' href='/stylesheets/style2.css' />

<%- include('menubar') -%>
    <div class="jumbotron">
        <h1>Welcome to Barter</h1>
        <h4>Waltham and Metro Boston's website for trade. Have  a lot of stuff?
           Want to trade and not make waste? This is your community's tool for
         more sustainable living! Explore the items your neighbors are getting rid of without being behholden
       to companies taking and selling your data like Facebook, Ebay, and Amazon.</h4>
        <hr>
        <h1> Here are some rules for Barter:</h1>

<%- include('carousel') -%>
<h3> To Recap:</h3>
<h4>
  <ul>
  <li>Always be nice!</li>
  <li>If you meet irl to trade, do it in a public space!</li>
  <li>Don't do anything illegal that isn't morally justifiable</li>
  </ul>
  </h4>
    </div>




<%- include('bootfooter') -%>
