

  <div class="jumbotron">
    <h1> Music Forum </h1>
    <p> instruments | cds | records | amps | mics | eps | care equipment | + more </p>

      <form method="post" action="/music">
          I want to trade: <input type="text" name="item"><br>
          Description (be honest!):<input type="text" name="description"> <br>
          Preferred method of trade:
            <select name="customselect">
                  <option> Public Spot Meetup (default) </option>
                  <option> I come to you: Home Pickup </option>
                  <option> You come to me: Home Pickup </option>
                  <option> Mail </option>
            </select>
          In return I'm seeking: <input type="text" name="iwant">
          You can contact me via: <input type="text" name="contact">
          <input type="submit" value="store">
      </form>

  </div>
