<%- include('bootheader') -%>

<%- include('menubar') -%>

  <div class="jumbotron">
    <h1> Music Forum </h1>
    <h2> instruments | cds | records | amps | mics | eps | care equipment | + more </h2>

    <table class="table table-bordered table striped">

      <h2> Add another music post?</h2>
      <form method="post" action="/music">
          I want to trade: <input type="text" name="item"><br>
          Description (be honest!):<input type="text" name="description"> <br>
          Preferred method of trade:
            <select name="customselect">
                  <option value="default"> Public Spot Meetup (default) </option>
                  <option value="HomePickup-I"> I come to you: Home Pickup </option>
                  <option value="HomePickup-You"> You come to me: Home Pickup </option>
                  <option value="mail"> Mail </option>
            </select> <br>
          In return I'm seeking: <input type="text" name="iwant"> <br>
          You can contact me via: <input type="text" name="contact"> <br>
          <input type="submit" value="store">
      </form>
  </div>

  <%- include('bootfooter') -%>
